// fuentes
$fuente_principal: 'Roboto', sans-serif;

// media quieries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$primario: #efab0b;
$secundario: #455a64;
$datos: #b4700a;
$negro: #000;
$blanco: #fff;
$grisClaro: #eceeef;
$alternativo: #555353;

//unidades
$separacion: 5rem;